@*
    Privacy.cshtml
    This page displays a fun Team Rocket themed message.
    It is linked from the footer of the site.
*@

@{
    ViewData["Title"] = "Privacy";
}

<div class="text-center mt-5">
    <h1 class="display-5 mb-4">Privacy</h1>

    <p class="lead">
    Prepare for trouble!<br />
    And make it double!<br />
    To protect the world from devastation!<br />
    To unite all peoples within our nation!<br />
    To denounce the evils of truth and love!<br />
    To extend our reach to the stars above!<br />
    Jessi!<br />
    James!<br />
    Team Rocket blast off at the speed of light!<br />
    Surrender now, or prepare to fight!<br />
    Meowth that's right!!!!!<br />
</div>